@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*use it every time*/
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

/* end of use */

/* global styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.separator {
    width: 170px;
    height: 1px;
    margin: 60px auto 40px;
}

.separator--red-color {
    background-color: #EC7979;
}

.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.main-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    text-align: center;
}

.main-text--black-color {
    color: black;
}

.main-text--left-align {
    text-align: left;
}

.button {
    width: 270px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid white;
}

.button:hover {
    cursor: pointer;
}

.button--red-color {
    background-color: #EC7979;
    border: none;
}

.button--red-color:hover {
    background-color: #AB4949;
}

section {
    padding-top: 100px;
}

/* end of global styles */

/*tabs*/

.tabs__tabs-header {
    display: inline-flex;
    position: relative;
    top: 2px;
}

.tabs-header__tab {
    width: 200px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.tabs-header__tab:not(.tabs-header__tab--active):hover {
    cursor: pointer;
}

.tabs-header__tab:hover,
.tabs-header__tab--active {
    position: relative;
    z-index: 9;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    background: white;
}

.tabs__tabs-content {
    display: inline-flex;
    border: 1px solid #C6CBCD;
}

.tabs-content__text {
    padding: 50px 50px 50px 100px;
}

.text__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 80px;
}

.text__desc {
    margin-bottom: 30px;
}

.tabs__image--wrapper {
    width: 470px;
}

.tabs__image {
    display: block;
}

.tabs__button-wrapper {
    margin-top: 30px;
}

/*end tabs*/
/* about */
.about__list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.list__list-item {
    text-align: center;
    width: 370px;
    margin-bottom: 60px;
}

.list-item__image--wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 95px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin-bottom: 80px;
}

.list-item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

/* end about */
/*pricing*/
.pricing {
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.list__option {
    width: 370px;
    margin-top: 80px;
}

.list__option:hover {
    margin-top: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.5)
}

.option__header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #FFFFFF;
}

.option__header {
    background-color: #333333;
    color: white;
}

.option__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 20px 0px;
}

.option__price {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding: 30px 0px;
}

.option__text {
    color: #FFFFFF80;
    padding: 15px 0px;
}

.option__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.option__text--white-bg {
    background-color: #FFFFFF;
    color: #86878B;
}

/*end of pricing*/