@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*use it every time*/
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

/* end of use */

/* global styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.separator {
    width: 170px;
    height: 1px;
    margin: 60px auto 40px;
    background-color: white;
}

.separator--red-color {
    background-color: #EC7979;
}

.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.main-title--color-white {
    color: white;
}

.main-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    text-align: center;
}

.main-text--black-color {
    color: black;
}

.main-text--white-color {
    color: white;
}

.main-text--left-align {
    text-align: left;
}

.button {
    width: 270px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid white;
    background: none;
}

.button--large {
    width: 370px;
    display: block;
    margin: 0px auto;
}

.button:hover {
    cursor: pointer;
    border-color: #EC7979;
    color: #EC7979;
}

.button--red-color {
    background-color: #EC7979;
    border: none;
}

.button--red-color:hover {
    background-color: #AB4949;
    color: white;
}

.input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    height: 45px;
    width: 350px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.input--huge {
    height: 235px;
}

section {
    padding-top: 100px;
}

/* end of global styles */
/*header+banner*/
.header {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0px 115px;
}

.header__logo-wrapper {
    padding: 25px 0px 20px 0px;
}

.header__nav {
    width: 660px;
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.nav__item {
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item:hover {
    cursor: pointer;
    background: #EC7979;
}

.banner {
    padding-top: 230px;
    padding-bottom: 185px;
    background: url("..//img/header_banner/bg.png") center / cover no-repeat;
}

.banner__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.banner__logo-wrapper {
    margin-bottom: 75px;
}

.logo-wrapper__logo--large {
    height: 55px;
}

.banner__title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: white;
    width: 670px;
    margin-bottom: 55px;
}

.banner__separator {
    margin: 0px;
}

.banner__text {
    width: 270px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.content__right-side {
    width: 470px;
}

.right-side__inputs {
    padding: 30px 50px 75px 50px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.right-side__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 65px;
}

.right-side__title--red-color {
    color: #EC7979;
}

.right-side__input {
    margin-bottom: 20px;
}

.right-side__input:last-of-type {
    margin-bottom: 0px;
}

.input-button {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
}

/* end of header+banner*/
/*social media*/
.social {
    background-color: #F8EFEF;
    padding: 20px 0px;
}

.social__container {
    display: flex;
    justify-content: space-between;
}

.social__desc {
    width: 40%;
}

.social__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 40px;
}

.social__icons {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.icons__icon-wrapper:hover {
    cursor: pointer;
}

/*end of social media */
/*tabs*/

.tabs__tabs-header {
    display: inline-flex;
    position: relative;
    top: 2px;
}

.tabs-header__tab {
    width: 200px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.tabs-header__tab:not(.tabs-header__tab--active):hover {
    cursor: pointer;
}

.tabs-header__tab:hover,
.tabs-header__tab--active {
    position: relative;
    z-index: 9;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    background: white;
}

.tabs__tabs-content {
    display: inline-flex;
    border: 1px solid #C6CBCD;
}

.tabs-content__text {
    padding: 50px 50px 50px 100px;
}

.text__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 80px;
}

.text__desc {
    margin-bottom: 30px;
}

.tabs__image--wrapper {
    width: 470px;
}

.tabs__image {
    display: block;
}

.tabs__button-wrapper {
    margin-top: 30px;
}

/*end tabs*/
/* about */
.about__list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.list__list-item {
    text-align: center;
    width: 370px;
    margin-bottom: 60px;
}

.list-item__image--wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 95px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin-bottom: 80px;
}

.list-item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

/* end about */
/*pricing*/
.pricing {
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.list__option {
    width: 370px;
    margin-top: 80px;
}

.list__option:hover {
    margin-top: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.5)
}

.option__header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #FFFFFF;
}

.option__header {
    background-color: #333333;
    color: white;
}

.option__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 20px 0px;
}

.option__price {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding: 30px 0px;
}

.option__text {
    color: #FFFFFF80;
    padding: 15px 0px;
}

.option__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.option__text--white-bg {
    background-color: #FFFFFF;
    color: #86878B;
}

/*end of pricing*/
/*reviews*/
.reviews {
    padding-bottom: 65px;
}

.customers-reviews {
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.customers-reviews__review-wrapper {
    display: flex;
    flex-direction: column;
}

.customer-reviews__review {
    width: 370px;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 40px 25px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    margin-left: 70px;
}

.customer {
    margin-top: 45px;
    display: flex;
    width: 370px;
    gap: 30px;
}

.customer__userpic-wrapper {
    width: 70px;
}

.customer__userpic {
    display: block;
}

.info__customer-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

/*end of reviews*/
/*second banner*/
.second-banner {
    background: url("..//img/second_banner/bg2.png") center / cover no-repeat;
    padding-bottom: 50px;
}

.second-banner__button {
    margin-top: 75px;
}



/*end of second banner*/
/*contact*/
.contact {
    padding-bottom: 50px;
}

.contact__inputs {
    display: flex;
    margin: 90px 0px 50px;
}

.contact__input {
    width: 570px;
    margin-bottom: 50px;
}

/*end of contact*/
/*footer*/
.footer {
    background: #000000;
    padding: 40px 0px 30px;
}

.footer__logos {
    width: 40%;
    margin: 0px auto 35px;
    display: flex;
    justify-content: space-between;
}

/*end of footer*/